doctype
head
  link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Cousine',rel='stylesheet',type='text/css')
  link(href='style.css',rel='stylesheet',type='text/css')
body
  header
    h1= title
  article
    div.content!= contents
  footer
    p= 'teh footer content'
