color2 = DarkOliveGreen

*
  font-family Droid Sans

body
  background-color DarkSlateGray

h1, h2, h3
  font-family Cousine
  display inline-block

div.section
div.content
  margin-left auto
  margin-right auto
  width 80%

h1
  font-size 3.2em
  padding 6px 20px
  color OrangeRed
  box-shadow 10px 10px 0 OrangeRed
  background-color White
  border-radius 6px

h2
  font-size 3em
  padding 4px 18px
  color OrangeRed
  box-shadow 10px 10px 0
  background-color White
  border-radius 6px

div.section_0
  background-image url('../images/EpBHfTrtRLa2PCPwuXkQ_thessaloniki_port.jpg')
h2#section_0
  color SeaGreen
  box-shadow 10px 10px 0 SeaGreen

h2#section_1
  color Tomato
  box-shadow 10px 10px 0 Tomato

h2#section_2
  color color2
  box-shadow 10px 10px 0 color2

h1#section_3
  color Crimson
  box-shadow 10px 10px 0 Crimson

