colors = OrangeRed SeaGreen Tomato DarkOliveGreen Crimson
images = 'made-in.jpg' 'OwfYyiJXQ6qddLgTOBGX_Ariana Prestes photos (4).jpg' 'in-out.jpg' 'level.jpg' 'EpBHfTrtRLa2PCPwuXkQ_thessaloniki_port.jpg'
positions_top = 300px 90px 10px 100px 200px
positions_left = 350px 190px 10px 100px 20px
bg_positions = center center top center top
lightColor = FloralWhite
//CornSilk Ivory Seashell Snow

*
  font-family 'Droid Sans'

a
  text-decoration none

body
  background-color DarkSlateGray
  padding 0
  margin 0

h1, h2, h3
  font-family Cousine
  display inline-block

div.container
  margin-left auto
  margin-right auto
  width 80%
  max-width 670px

h1
  font-size 3.2em
  padding 6px 20px
  color colors[0]
  box-shadow 10px 10px 0 colors[0]
  background-color lightColor
  border-radius 6px
  top positions_top[0]
  left positions_left[0]
  position relative

header
  background-image url(images[0])
  background-repeat no-repeat
  background-position center center
  background-size 100%
  height 550px
  border-bottom 10px solid colors[0]

.section h2
  font-size 3em
  padding 4px 18px
  box-shadow 10px 10px 0
  background-color lightColor
  border-radius 6px
  position  relative

h3
  font-size 1.4em
  background-color lightColor
  padding 6px 12px
  margin-bottom 12px
  margin-top 26px

.content, a
  padding-top 50px
  padding-bottom 140px
  font-size 1.2em
  color lightColor

.section
  height 450px
  background-repeat no-repeat
  background-size cover
  border-style solid
  border-width 6px 0 10px 0

for num in (1..4)
  div.section_{num}
    background-image: url(images[num])
    background-position: bg_positions[num] center
    border-color: colors[num]
  h2#section_{num}
    color: colors[num]
    box-shadow: 10px 10px 0 colors[num]
    top: positions_top[num]
    left: positions_left[num]
  .content_{num} h3
    color: colors[num]

footer
  border-top 4px solid GoldenRod
  height 120px
  text-align center

  a
    color GoldenRod

  ul
    list-style none

    :first-child
      border-left none

  li
    display inline-block
    padding 4px 16px
    border-left 2px solid GoldenRod
